body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #334155;
}

/* Main content */
.main {
  flex: 1;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}
.form {
  margin: 20px 0;
}

.form input {
  padding: 8px;
  margin-right: 10px;
}

.form button {
  padding: 8px 15px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
}
select {
  padding: 5px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
table th, table td {
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-container button:hover {
  background: #334155;
}
.sidebar ul li.active {
  background: #334155; /* midabka highlight */
}
